* {
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;
}

body {
    background-color: steelblue;
}

a {
    text-decoration: none;
}



/* Login page */
.login-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    background-image: url(../img/logo.png);
    background-size: 15% auto;
    background-repeat: no-repeat;
    background-position: 25px 25px;

    background-color: white;
    max-width: 95%;
    width: 500px;
    padding: 60px 25px 40px;

    text-align: center;
}

#create-acc-link ~ p {
    font-size: 25px;
}

.login-section > h2 {
    font-size: 30px;
}

form > input {
    width: 50%;
    height: 30px;

    margin: 10px 0 0 0;

    font-size: 18px;
}

form button {
    width: 100px;
    height: 40px;

    margin: 10px 0 5px 0;

    background-color: royalblue;

    border-radius: 5px;
    border: none;

    font-size: 20px;
    color: white;
}

form button:hover {
    background-color: darkslateblue;
}



#create-acc-link {
    font-size: 30px;
}


.logo-big {
    width: 120px;
    height: 120px;
}

/* index.html header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    background-color: white;

    display: flex;
    align-items: center;
}

nav div {
    height: 40px;
    padding: 5px;
}

nav div img {
    height: 100%;
}

.logo-container {
    margin-left: 15px;
}



.search-container {
    height: 30px;
    margin: auto;
    width: 65%;
    text-align: center;
}

.search-container > input {
    max-height: 100%;
    width: 65%;

    font-size: 18px;
}

.search-container > button {
    height: 30px;
    width: 20%;
    min-width: 70px;
    background-color: steelblue;


    border-radius: 3px;
    border: none;

    font-size: 15px;
    color: white;
}

.search-container > button:hover {
    background-color: royalblue;
}

.user-icon-container {
    margin-right: 15px;
}

.user-info {
    background-color: white;
    height: 80px;
    min-width: 200px;
    padding-left: 15px;

    position: absolute;
    right: 0;

    display: none;
}



/*index.html main*/
header + main {
    margin-top: 40px;
}

main {
    display: flex;
    align-items: center;
}

.main-container {
    background-color: white;
    width: 60%;
    min-width: 400px;
    margin: auto;
    padding-bottom: 30px;
}

.post {
    width: 90%;
    background-color: #ffffff;
    margin: 30px auto auto;
    box-shadow: 0 0 10px 1px #888888;

    padding: 20px;
}

.post-info {
    display: flex;
    flex-direction: row;
}

.post-author-photo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-bottom: 10px;
    text-align: start;
    border-radius: 100%;
}

.date {
    margin-left: auto;
    font-size: 15px;
    font-style: italic;
}

.post-image {
    width: 100%;
}

.post-text {
    font-size: 18px;
}


.like-button {
    background-image: url(../img/like.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: steelblue;
    width: 50px;
    height: 30px;

    border: none;
    border-radius: 3px;
}

.like-button:hover {
    background-color: royalblue;
}