* {
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;
}

body {
    background-color: steelblue;
}

a {
    text-decoration: none;
}



/* Login page */
.login-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    background-color: white;
    max-width: 95%;
    width: 500px;
    padding: 25px 25px 40px;

    text-align: center;
}

.login-section > p {
    font-size: 25px;
}

.login-section > h2 {
    font-size: 30px;
}

form > input {
    width: 50%;
    height: 30px;

    margin: 10px 0 0 0;

    font-size: 18px;
}

form button {
    width: 100px;
    height: 40px;

    margin: 10px 0 5px 0;

    background-color: royalblue;

    border-radius: 5px;
    border: none;

    font-size: 20px;
    color: white;
}

form button:hover {
    background-color: darkslateblue;
}



#create-acc-link {
    font-size: 30px;
}


.logo-big {
    width: 120px;
    height: 120px;
}

/* index.html header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    background-color: white;

    display: flex;
    align-items: center;
}

nav:hover {
    box-shadow: 1px 2px darkblue;
}

nav div {
    height: 40px;
    padding: 5px;
}

nav div img {
    height: 100%;
}

.logo-container {
    margin-left: 15px;
}



.search-container {
    height: 30px;
    margin: auto;
    width: 60%;
}

.search-container > input {
    max-height: 100%;
    width: 65%;

    vertical-align: middle;
    font-size: 18px;
}

.search-container > button {
    height: 30px;
    width: 20%;
    min-width: 70px;
    background-color: steelblue;


    border-radius: 3px;
    border: none;

    font-size: 15px;
    color: white;
}

.search-container > button:hover {
    background-color: royalblue;
}


.user-icon-container {
    margin-right: 15px;
}